{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
<div class="container">
		<div class="grid gallery row">
  			{% for picture in pictures %}
  				<div class="grid-item col m4">
  					<div class="row">
    					<div class="col s12 m12">
      						<div class="card">
        						<div class="card-image">
          							<img src="images/{{ picture.name }}">
          							
          							<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons ">favorite</i></a>
                        <span class="jaimes">{{ picture.likes }}</span>
        						</div>
        						<div class="card-content">
	          						<span class="card-title">{{ picture.title }}</span>
        						</div>
      						</div>
    					</div>
  					</div>	
  				</div>
  			{% endfor %}
		</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock %}