{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ form(formPicture) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}